<p class="text-center text-2xl">Help</p>

<p class="text-lg italic mt-4 mx-2">You can browse all existing animons and if you can find one which isn't listed, you can add them and look after them!</p>

<div class="mx-2 text-lg">
<p class="text-xl mt-4 font-bold">Classification</p>
Animons are grouped and classified using scientific classification, or <%= link_to 'taxonomy', 'https://en.wikipedia.org/wiki/Taxonomy_(biology)' %>.
Each animon is described by a set of "taxons". For example, here are the taxons of the red fox:
<div class="text-center">
<ul class="text-lg">
<li><b>Phylum:</b> Chordate</li>
<li><b>Class:</b> Mammal</li>
<li><b>Order:</b> Carnivoran</li>
<li><b>Family:</b> Canid</li>
<li><b>Genus:</b> True fox</li>
<li><b>Species:</b> Red fox</li>
</ul>
</div>

There are even more possible ranks:
<%= Taxon::RANKS.join(' > ') %>

</div>

<div class="mx-2 text-lg ">
<p class="text-xl mt-4 font-bold">Anidex</p>
In the <%= link_to 'Anidex', browse_index_path %>, you can browse all animons and taxons. Also, from each taxon
you can navigate to all related taxons.
</div>

<div class="mx-2 text-lg">
<p class="text-xl mt-4 font-bold">Add a new animon</p>
If your favourite animon is not there, you can add it yourself and start looking after it!
<br/>
Look for its scientific name and its classification. Click <%= link_to 'New taxon', new_taxon_path %> to create the classification all the way down to <b>Species</b> or <b>Subspecies</b>.
Then you can click <%= link_to 'New animon', new_animon_path %> to create your animon and link it to the taxon!
<br/>
<i>Hint: there is a lot of help available online, starting with <%= link_to 'Wikipedia', 'https://www.wikipedia.org'%>.</i>
</div>

<div class="mx-2 text-lg">
<p class="text-xl mt-4 font-bold">Add videos</p>
There are great videos on <%= link_to 'Youtube', 'https://www.youtube.com'%>. If you find a nice one for an animon on YouTube,
first click on <b>Share</b>, then <b>Copy</b>, next to the link.
Go to the animon page and click on <b>Add YouTube video</b>. Paste the link, click <b>Create Youtube video</b>, and voilà!
</div>
