<%= form_with(model: species_record, local: true) do |form| %>
  <% if species_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species_record.errors.count, "error") %> prohibited this species_record from being saved:</h2>

      <ul>
      <% species_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :genus_record_id %>
    <%= form.collection_select(:genus_record_id, @genus_list, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
