<%= form_with model: taxon, local: true, class: "text-lg mx-2"  do |form| %>
  <% if taxon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taxon.errors.count, "error") %> prohibited this taxon from being saved:</h2>
      <ul>
      <% taxon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-4">
    <%= form.label :common_name %>
    <%= form.text_field :common_name, class: "border" %>
  </div>

  <div class="field mt-4">
    <%= form.label :scientific_name %>
    <%= form.text_field :scientific_name, class: "border"  %>
  </div>

  <div class="field mt-4">
    <%= form.label :rank %>
    <%= rank_field(form) %>
  </div>

  <div class="field mt-4">
    <%= form.label :wikipedia_page %>
    <%= form.text_field :wikipedia_page, class: "border" %>
  </div>

  <div class="field mt-4">
    <%= form.label :parent_id %>
    <%= parent_taxon(form) %>
  </div>

  <div class="actions mt-4">
    <%= form.submit %>
  </div>
<% end %>
