<p id="notice"><%= notice %></p>

<h1><%= @page_title %></h1>

<table>
  <thead>
    <tr>
      <th>Common name</th>
      <th>Scientific name</th>
      <th>Class</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @taxons.each do |taxon| %>
      <tr>
        <td><%= taxon.common_name %></td>
        <td><%= taxon.scientific_name %></td>
        <td><%= taxon.rank %></td>
        <td><%= link_to 'Destroy', taxon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
