<p id="notice"><%= notice %></p>

<p class="text-center text-2xl"><%= @page_title %></p>

<table>
  <thead>
    <tr>
      <th>Common name</th>
      <th>Scientific name</th>
      <th>Class</th>
    </tr>
  </thead>

  <tbody>
    <% @taxons.each do |taxon| %>
      <tr>
        <td><%= link_to taxon.common_name, taxon %></td>
        <td><%= link_to taxon.scientific_name, taxon %></td>
        <td><%= taxon.rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
