<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_taxon_path(@taxon) %>
  <%= link_to 'Destroy', @taxon, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <strong>Rank:</strong>
  <%= link_to @taxon.rank, taxons_path(rank: @taxon.rank) %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @taxon.common_name %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @taxon.scientific_name %>
</p>

<p>
  <strong>Scientific classification:</strong>
  <% @ancestors.each do |ancestor| %>
    <%= link_to ancestor.scientific_name, taxon_path(ancestor) %> >
  <% end %>
  <%= @taxon.scientific_name %>
</p>

<p>
  <% unless @taxon.youtube_videos.empty? %>
  <strong>Latest YouTube videos:</strong>
  <% end %>
  <% @taxon.youtube_videos.each do |video| %>
    <p>
      <iframe src="<%= embed_link(video.youtube_id) %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
  <% end %>
</p>

