<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_taxon_path(@taxon) %>
  <%= link_to 'Destroy', @taxon, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <strong>Rank:</strong>
  <%= link_to @taxon.rank, taxons_path(rank: @taxon.rank) %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @taxon.common_name %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @taxon.scientific_name %>
</p>

<p>
  <strong>Latest YouTube videos:</strong>
  <% @taxon.youtube_videos.each do |video| %>
    <%= video.link %>
  <% end %>
</p>

