<%= form_with model: animon, local: true, class: "text-lg mx-2" do |form| %>
  <% if animon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animon.errors.count, "error") %> prohibited this animon from being saved:</h2>
      <ul>
      <% animon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :taxon_id, 'Select the species or subspecies' %>
    <%= form.collection_select(:taxon_id, @taxons, :id, :rank_and_common_name, {:include_blank => ""}, {:class => "border w-64"}) %>
    <p class='italic'>
    <%= link_to 'Add species or subspecies', new_taxon_path%> if it is not here!
    </p>
  </div>

  <div>
    <%= form.label :picture, 'Upload a profile picture' %>
    <%= form.file_field :picture %>
  </div>

  <div class="mt-4">
    <%= form.label :twitter_handle %>
    @<%= form.text_field :twitter_handle, class: "border" %>
  </div>

  <div class="actions mt-4">
    <%= form.submit %>
  </div>

<% end %>
