<p id="notice"><%= notice %></p>

<h1>Animon: <%= @animon.taxon.common_name %></h1>

<div class='identity'>
  <h2><%= link_to 'Identity', taxon_path(@animon.taxon) %></h2>
  <%= render 'taxons/description', taxon: @animon.taxon %>
</div>

<p>
  <%= link_to 'Edit', edit_animon_path(@animon) %>
  <%= link_to 'Add YouTube video', new_youtube_video_path(animon_id: @animon) %>
</p>


<p>
  <% unless @animon.youtube_videos.empty? %>
  <strong>Latest YouTube videos:</strong>
  <% end %>
  <% @animon.youtube_videos.each do |video| %>
    <p>
      <iframe src="<%= embed_link(video.youtube_id) %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
  <% end %>
</p>
