<p id="notice"><%= notice %></p>

<p class="text-center text-2xl">Animon: <%= @animon.taxon.common_name %></p>

<div class="flex justify-center">
  <div class="mt-2 border-2 border-red-600 bg-yellow-200 rounded-lg w-64 text-center italic font-bold">Points: <%= @animon.points %></div>
</div>
<div class="flex flex-wrap items-center">
  <div>
    <%= picture() %>
  </div>

  <div class="mt-4 mx-2 border-2 border-black bg-gray-300 rounded-lg">
    <p class="m-2"><%= link_to 'Identity', taxon_path(@animon.taxon) %></p>

    <div class="m-2">
    <%= render 'taxons/description', taxon: @animon.taxon %>
    </div>
  </div>
</div>

<p class="mt-4 mx-2">
  <%= link_to 'Edit', edit_animon_path(@animon) %>
  <%= link_to 'Add link', new_animon_link_path(animon_id: @animon) %>
  <%= link_to 'Add YouTube video', new_youtube_video_path(animon_id: @animon) %>
  <%= link_to 'Add Getty image', new_getty_image_path(animon_id: @animon)  %>
</p>


<div class="mt-4 mx-2 flex flex-wrap">
  <div class="w-1/2">
    <% @latest_content.each do |content| %>
      <div class="animon_content mt-2">
        <%= html_for_content(content) %>
      </div>
    <% end %>

  </div>

  <% if @animon.twitter_handle.present? %>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <div class="w-1/2">
    <%= link_to "Tweets by #{@animon.twitter_handle}", "https://twitter.com/#{@animon.twitter_handle}", class: 'twitter-timeline', 'data-width' => 500, 'data-height'=>1000, 'data-dnt'=>true %>
  </div>
  <% end %>
</div>
