<h1>
  <%= @family.name %>
</h1>

<%= link_to 'Edit...', edit_family_path(@family) %>

<h2>Animals</h2>
<% @family.animals.each do |animal| %>
  <p>
    <%= animal.name %> <%= link_to 'Show', animal_path(animal) %>
  </p>

<% end %>

<p>
<%= link_to 'Add new animal...', new_animal_path(family_id: @family.id)%>
</p>
<p>
<%= link_to 'Delete...', family_path(@family), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<% @family.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
