<%= form_with(model: order_record, local: true) do |form| %>
  <% if order_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_record.errors.count, "error") %> prohibited this order_record from being saved:</h2>

      <ul>
      <% order_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :class_record_id %>
    <%= form.text_field :class_record_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
