<h1>Edit Animal</h1>


<%= form_with model: @animal, local: true do |form| %>
  <p>
    <%= form.label :name %>: <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :family %>:
    <% if @family then %>
      <%= @family.name %>
      <%= form.hidden_field :family_id, :value => @family.id %>
      <%= form.hidden_field :back_to_family, :value => true %>
    <% else %>
      <%= form.collection_select(:family_id, Family.all, :id, :name) %>
    <% end %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
