<p class="text-center text-2xl">Add Getty image to <%= @animon.taxon.common_name %></p>

<%= form_with model: @getty_image, local: true, class: "m-2" do |form| %>
  <% if @getty_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this Getty image from being saved:</h2>
      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :animon_id, :value => @getty_image.animon.id %>

  <div class="field">
    <%= form.label :embed_code %>
    <%= form.text_field :embed_code, class: "border w-64" %>
  </div>

  <div class="mt-4">
    <%= form.submit %>
  </div>
<% end %>
