<!DOCTYPE html>
<html>
  <head>
    <title>Animalz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_pack_tag 'favicon.png' %>
  </head>

  <body>

    <div class="bg-gray-300 p-4">
      <div class="flex flex-wrap">
        <div class="w-1/2 py-8">
          <%= link_to 'Home', root_path, class: "text-white hover:text-yellow-300 bg-black p-2 m-1 rounded-full no-underline" %>
          <%= link_to 'Anidex', browse_index_path, class: "text-white hover:text-yellow-300 bg-black p-2 m-1 rounded-full no-underline" %>
          <%= link_to 'New animon', new_animon_path, class: "text-white hover:text-yellow-300 bg-black p-2 m-1 rounded-full no-underline" %>
          <%= link_to 'Taxonomy', taxonomy_index_path, class: "text-white hover:text-yellow-300 bg-black p-2 m-1 rounded-full no-underline" %>
          <%= link_to 'Help', help_index_path, class: "text-white hover:text-yellow-300 bg-black p-2 m-1 rounded-full no-underline" %>
        </div>
        <div class="w-1/2">
          <%= link_to image_tag('animon.png', class: 'object-scale-down w-full h-24 object-right'), root_path %>
        </div>

      </div>
    </div>

    <%= yield %>
  </body>
</html>
