<!DOCTYPE html>
<html>
  <head>
    <title>Animalz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <%= link_to image_tag('fox_logo.png', class: 'logo'), root_path %>
    </div>

    <div class="menu">
      <%= link_to 'Home', root_path %>
      <%= link_to 'Anidex', browse_index_path %>
      <%= link_to 'New', new_taxon_path %>
      <%= link_to 'Help', help_index_path %>
    </div>

    <hr>
    <%= yield %>
  </body>
</html>
