<!DOCTYPE html>
<html>
  <head>
    <title>Animalz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', welcome_index_path %> >
    <%= link_to 'Families', families_path %> >
    <%= link_to 'Animals', animals_path %>
    <br/>
    <%= link_to 'Home', welcome_index_path %> >
    <%= link_to 'Phylum list', phylum_records_path %> >
    <%= link_to 'Class list', class_records_path %> >
    <%= link_to 'Order list', order_records_path %> >
    <%= link_to 'Family list', family_records_path %> >
    <%= link_to 'Genus list', genus_records_path %> >
    <%= link_to 'Species list', species_records_path %>

    <hr>
    <%= yield %>
  </body>
</html>
